In [1]:
s1 = "python"
print(s1[0:2]) #access the first two characters
print(s1[-2:]) #access the last two characters
print(s1[3:]) #access the character from 3 till last
print(s1[2:5]) #access the character from 2 to 5
print(s1[1:-1]) #all the characters except 1st and last character

py
on
hon
tho
ytho

In [4]:
s1[-1::-1] #reverse the string

'nohtyp'

In [5]:
#access the characters in string alternate
#python -- pto
s1[::2]

'pto'

In [6]:
#access the alternate characters from reverse direction
#python --nhy
s1[::-2]

'nhy'

In [7]:
s1[::3]

'ph'

### Functions with string Opertions

In [9]:
#reverse thr string
def reverseStr(s):
    return s[-1::-1]
reverseStr('python')

'nohtyp'

In [10]:
#to check the given string is palindrome or not a palindrome
def isPalindrome(s):
    if s == s[-1::-1]:
        return True
    return False
print(isPalindrome('python'))
print(isPalindrome('pop'))

False
True

In [12]:
#Function to print the upper case characters
#Example : PyThon -- P T
#ASCII
#A - Z : 65 - 90
#a -z : 97 - 122
#0 - 9 : 48 - 57
#space : 32
def printUpper(s):
    for i in range(len(s)):
        if ord(s[i]) >= 65 and ord(s[i]) <= 90:
            print(s[i],end=' ')
    return
printUpper('PyThon')  # P T

P T

In [13]:
#function to return the output as "same count" or "programming"
#same count -- lower case and upper case char have same count
#programming -- count of lower and upper case is not same

#example #1 : PyThOn -- 3 P T O
#                    -- 3 y h n
#output : SameCount

#example #2 : PythoN -- 2 P N
#                    -- 4 y t h o
#output : Programming

def findCharCount(s):
    cntUpper = 0
    cntLower = 0
    for i in range(len(s)):
        if ord(s[i]) >= 65 and ord(s[i]) <= 90:
            cntUpper += 1
        elif ord(s[i]) >= 97 and ord(s[i]) <= 122:
            cntLower += 1
    if cntLower == cntUpper:
        return "sameCount"
    return "Programming"
findCharCount('PyThoN')

'sameCount'

In [16]:
#function to extract the digits  from the string
#example #1
#input : Appli18cation89
#Output : 1 8 8 9

def extractDigits(s):
    for i in range(len(s)):
        if ord(s[i]) >= 48 and ord(s[i]) <= 57:
            print(s[i],end=' ')
    return
extractDigits('Appli18cation89')

1 8 8 9

In [27]:
#Function to add the digits of the string
#Example #1
#Input : Appli18cation89
#Output : 26 (1+8+8+9)

def addDigits(s):
    sum = 0
    for i in range(len(s)):
        if ord(s[i]) >= 48 and ord(s[i]) <= 57:
            sum = sum + int(s[i])
    return sum 
addDigits('Appli18cation89')

26

In [30]:
#function to specific word in Upper case
#Example #1
#Input : Python Made Easy
#output : MADE

#example #2 :
#Input : Learn Python Strings
#output : PYTHON

def wordUpperCase(s):
    cntSpace = 0
    for i in range(len(s)):
        if ord(s[i]) == 32:
            cntSpace += 1
        if cntSpace == 1:
            if ord(s[i]) >= 65 and ord(s[i]) <= 90:
                print(s[i],end='')
            elif ord(s[i]) >= 97 and ord(s[i]) <= 122:
                print(chr(ord(s[i])-32),end='')
        if cntSpace == 2:
            break
    return
wordUpperCase('Python Made Easy')

MADE

### LIst
- One of the data structure in Python
- Data Structure means to store, sort and search Options
- It's one Common Data structure in python, the items of list seperated by comma and enclosed in square brackets[]
   #### Example
     - list1 = [1,2,3,4,5]
     - list2 = ["Gitam",1.2,1.89,"Vizag"]

In [32]:
li = [1,8,16,9,2]
print(li)  #will print the all the list items
print(li[0]) #access the first item of the list
print(li[1]) #access the secomd item of the list
print(li[-1]) #access the last item of the list
print(li[-2]) #access the last second item of the list
print(li[2:])

[1, 8, 16, 9, 2]
1
8
2
9
[16, 9, 2]

In [34]:
li = ["Gitam",1582,2018,2019,"Vizag"]
print(li)
li[1] =1234
print(li)

['Gitam', 1582, 2018, 2019, 'Vizag']
['Gitam', 1234, 2018, 2019, 'Vizag']

In [35]:
#delete the list from the list
del li[3]
print(li)

['Gitam', 1234, 2018, 'Vizag']

In [36]:
#Basic list Operations
li = [1,2,3,4,5]
# len of the list
print(len(li))
# List Repitation
print(li * 2)
#to know certain item is present in the list or not
print(4 in li)
print(10 in li)
#access the list items from the iterations''
# 1 way to define
for i in range(len(li)):
    print(li[i],end=' ')
print()
#2 way to print the list items
for i in li:
    print(i,end=' ')

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False
1 2 3 4 5
1 2 3 4 5

In [37]:
#Basic List Fucntions
li = [1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11